In [2]:
#예제1

symbols = "$*&!@"
codes = []

for symbol in symbols :
    codes.append(ord(symbol))

print(codes)

[36, 42, 38, 33, 64]

In [3]:
#예제2

symbols = "$*&!@"
codes = [ord(symbol) for symbol in symbols]

print(codes)

[36, 42, 38, 33, 64]

In [4]:
#예제3

x = '"!$$*&@'
dummy = [ord(x) for x in x]
print(x)
print(dummy)

"!$$*&@
[34, 33, 36, 36, 42, 38, 64]

In [ ]:
#예제4

symbols = '"!~$$*&!@'
beyond_ascii = [ord(s) for s in symbols if ord(s) > 32]

print(beyond_ascii)

In [5]:
#예제5

symbols = '"!~$$*&!@'
beyond_ascii = list(filter(lambda c: c>64, map(ord, symbols)))

print(beyond_ascii, '\n')

print(f"Map function\n>>> {map(ord, symbols)}")
print(f"List after map:\n>>> {list(map(ord, symbols))}")

[126]

Map function
>>> <map object at 0x000001FF27E82AD0>
List after map:
>>> [34, 33, 126, 36, 36, 42, 38, 33, 64]

In [7]:
#예제6

colors = ['black', 'white']
sizes = ['S', 'M', 'L']
tshirts = [(color, size) for color in colors for size in sizes]

print(tshirts)

for color in colors :
    for size in sizes :
        print((color, size))

[('black', 'S'), ('black', 'M'), ('black', 'L'), ('white', 'S'), ('white', 'M'), ('white', 'L')]
('black', 'S')
('black', 'M')
('black', 'L')
('white', 'S')
('white', 'M')
('white', 'L')

In [8]:
#예제7

symbols = "!#^&&#"
ord_s = tuple(ord(s) for s in symbols if ord(s))

print(ord_s)

(33, 35, 94, 38, 38, 35)

In [9]:
#예제7-1

import array

ord_s = array.array('I', (ord(symbol) for symbol in symbols))
print(ord_s)

array('I', [33, 35, 94, 38, 38, 35])

In [10]:
#예제8

colors = ['black', 'white']
sizes = ['S', 'M', 'L']

for tshirt in ('{} {}'.format(c, s)for s in sizes for c in colors) :
    print(tshirt)

black S
white S
black M
white M
black L
white L

In [12]:
#예제9

lax_coordinates = (33.9425, -118.408056)
city, year, pop, chg, area = ('Tokyo', 2003, 32450, 0.66, 8014)
traveler_ids = [('USA', '31195855'),
                ('BRA', 'CE342567'),
                ('ESP', 'XDA205856')]

for passport in sorted(traveler_ids) :
    print('%s/%s' % passport)
    print('{}/{}'.format(passport[0], passport[1]))
    print(f"{passport[0]}/{passport[1]}")

BRA/CE342567
BRA/CE342567
BRA/CE342567
ESP/XDA205856
ESP/XDA205856
ESP/XDA205856
USA/31195855
USA/31195855
USA/31195855

In [14]:
#예제10

for country, _ in traveler_ids :
    print(country)

USA
BRA
ESP

In [15]:
#예제11

lax_coordinates = (33.9425, -118.408056)
latitude, longtitude = lax_coordinates
print(latitude)
print(longtitude)

33.9425
-118.408056

In [16]:
#예제12

a = 10; b = 20
b, a = a, b
print(a, b)

20 10

In [19]:
#예제13

divmod(20, 8)

t = (20, 8)
divmod(*t)

quotient, reaminder = divmod(*t)
quotient, reaminder

(2, 4)

In [20]:
#예제14

import os

_, filename = os.path.split('/home/luciano/.ssh/idrsa.pub')
filename

'idrsa.pub'

In [23]:
#예제15

a, b, *rest = range(5)
a, b, rest

a, b, *rest = range(3)
a, b, rest

a, b, *rest = range(2)
a, b, rest

(0, 1, [])

In [24]:
#예제16

a, *body, c, d = range(5)
a, body, c, d

*head, b, c, d = range(5)
head, b, c, d

([0, 1], 2, 3, 4)

In [27]:
#예제17

metro_areas = [
    ("Tokyo", "JP", 36.933, (35, 139)),
    ("Delhi NCR", "IN", 21, (28, 77)),
    ("Mexico City", "MX", 20, (19, -99)),
    ("New York-Newark", "US", 20, (40, -74)),
    ("Sao Paulo", "BR", 19, (-23, -46))
]

print("{:15} | {:^9} | {:^9}".format('', 'lat.', 'long.'))
fnt = '{:15} | {:9.4f} | {:9.4f}'

for name, cc, pop, (lat, longi) in metro_areas :
    if longi <= 0 :
        print(fnt.format(name, lat, longi))

                |   lat.    |   long.
Mexico City     |   19.0000 |  -99.0000
New York-Newark |   40.0000 |  -74.0000
Sao Paulo       |  -23.0000 |  -46.0000

In [29]:
#예제18

from collections import namedtuple
City = namedtuple('City', 'name country population coordinates')
tokyo = City('Tokyo', 'JP', 36.933, (35.689, 139.691))
tokyo
tokyo.population
tokyo.coordinates
tokyo[1]

'JP'

In [31]:
#예제19

City._fields

LatLong = namedtuple('LatLong', 'lat long')
delhi_data = ('Delhi NCR', 'IN', 21.935, LatLong(28.613, 77.208))

delhi = City._make(delhi_data)
delhi._asdict()

for key, value in delhi._asdict().items() :
    print(key + ':', value)

name: Delhi NCR
country: IN
population: 21.935
coordinates: LatLong(lat=28.613, long=77.208)

In [32]:
#예제20

l = [10, 20, 30, 40, 50, 60]
print(l[:2])
print(l[2:])
print(l[:3])
print(l[3:])

[10, 20]
[30, 40, 50, 60]
[10, 20, 30]
[40, 50, 60]

In [34]:
#예제21

invoice = """
0.....6....................25........33.......40........
1909  Pimoroni                $17.50    2      $52.50
1489  6mm Tactile             $4.95     2      $9.90    
"""

SKU = slice(0, 6)
DESCRIPTION = slice(6, 25)
UNIT_PRICE = slice(25, 33)
QUANTITY = slice(33, 40)
ITEM_TOTAL = slice(55, None)

line_items = invoice.split('\n')[2:]
for item in line_items:
    print(item[UNIT_PRICE], item[DESCRIPTION])

     $17 Pimoroni
     $4. 6mm Tactile

In [37]:
#예제22

l = list(range(10))
l
l[2:5] = [20, 30]
l
del l[5:7]
l
l[3::2] = [11, 22]
l

[0, 1, 20, 11, 5, 22, 9]

In [38]:
#예제23

l[2:5] = 100

TypeError: can only assign an iterable

In [36]:
#예제24

l[2:5] = [100]
l

[10, 20, 100, 60]

In [39]:
#예제25

l = [1, 2, 3]
l * 5

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [42]:
#예제26

board = [['_'] * 3 for i in range(3)]
board

board[1][2] = 'x'
board

[['_', '_', '_'], ['_', '_', 'x'], ['_', '_', '_']]

In [44]:
#예제27

weird_board = [['_'] * 3] * 3
weird_board

weird_board[1][2] = '0'
weird_board

[['_', '_', '0'], ['_', '_', '0'], ['_', '_', '0']]

In [45]:
#예제28

row = ['_'] * 3
board = []
for i in range(3):
    board.append(row)

board[1][2] = 'X'
board

[['_', '_', 'X'], ['_', '_', 'X'], ['_', '_', 'X']]

In [ ]:
#예제29

board = []
for i in range(3):
    row = ['_'] * 3
    board.append(row)

print(board)

board[2][0] = 'X'
board

In [ ]:
#예제30

l = [1, 2, 3]
id(l)
l *= 2
l
id(l)

In [ ]:
#예제31

t = (1, 2, 3)
id(t)
t *= 2
id(t)

In [ ]:
#예제32

t = (1, 2, [30, 40])
print(t)

t[2] += [50, 60]

In [ ]:
#예제33

print(t)

In [ ]:
#예제34

fruits = ['grape', 'raspberry', 'apple', 'banana']
sorted(fruits)
fruits
sorted(fruits, reverse=True)
sorted(fruits, key=len)

In [ ]:
#예제35

sorted(fruits, key=len, reverse=True)
fruits
fruits.sort()
fruits

In [ ]:
#예제36

from array import array
from random import random

floats = array('d', (random() for i in range(10**7)))
floats[-1]

In [ ]:
#예제37

with open('floats.bin', 'wb') as f:
    floats.tofile(f)

floats2 = array('d')
with open('floats.bin', 'rb') as f:
    floats2.fromfile(f, 10**7)

floats2[-1]
floats2 == floats

In [46]:
#예제38

import array

numbers = array.array('h', [-2, -1, 0, 1, 2])
memv = memoryview(numbers)
len(memv)
memv[0]
memv_oct = memv.cast('B')
memv_oct.tolist()
memv_oct[5] = 4
numbers

array('h', [-2, -1, 1024, 1, 2])

In [ ]:
#예제39
import numpy
a = numpy.arange(12)
a
type(a)

In [ ]:
#예제40

a.shape

a.shape = 3, 4
a

In [ ]:
#예제41

a[2]
a[2, 1]
a[:, 1]

In [ ]:
#예제42

a.transpose

In [ ]:
#예제43

from collections import deque

dq = deque(range(10), maxlen = 10)
dq

dq.rotate
dq

dq.rotate(-4)
dq

In [ ]:
#예제44

dq.appendleft(-1)
dq

dq.extend([11, 22, 33])
dq

dq.extendleft([10, 20, 30, 40])
dq